@import "tailwindcss";

.base-line {
  fill: none;
  stroke: #ffffff33;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.draw-neon-loop {
  fill: none;
  stroke: #ff003c;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;

  animation: draw 2s ease forwards, neonPulse 2s ease-in-out forwards,
    fadeOutSvg 0.8s ease-in-out 2.5s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes neonPulse {
  0%,
  100% {
    stroke: #ff003c;
    /* filter: drop-shadow(0 0 2px #ff003c); */
  }
  50% {
    stroke: white;
    /* filter: drop-shadow(0 0 8px white); */
  }
}

@keyframes fadeOutSvg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
